git+https://github.com/adsabs/ADSIngestParser.git@v0.9.7
git+https://github.com/adsabs/ADSIngestEnrichment.git@v0.1.7
git+https://github.com/adsabs/ADSPipelineUtils@v1.4.3
git+https://github.com/adsabs/adsabs-pyingest.git@v1.2.4
